@use "variables" as *;
@use "mixins" as *;

@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// @font-face {
//   font-family: icons;
//   src: url("icons.ttf");
// }

:root {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body > *:not(footer) {
  font-family: Roboto, sans-serif;

  * {
    line-height: calc(2px + 2ex + 2px);
  }
  .figuur1 {
    background-color: #56e39f;
  }
  .figuur1 > div:nth-child(1) {
    background-color: #56e39f;
  }
  .figuur1 > div:nth-child(2) {
    background-color: #59c9a5;
  }
  .figuur1 > div:nth-child(3) {
    background-color: #5b6c5d;
  }
  .figuur1 > div:nth-child(4) {
    background-color: #27476e;
  }
  /* alle kleuren voor dit vlak: #56E39F  #59C9A5  #5B6C5D  #27476E*/
  .figuur2 {
    background-color: #f1d302;
  }
  .figuur2 > div:nth-child(1) {
    background-color: #56e39f;
  }
  .figuur2 > div:nth-child(2) {
    background-color: #c1292e;
  }
  .figuur2 > div:nth-child(3) {
    background-color: #235789;
  }
  .figuur2 > div:nth-child(4) {
    background-color: #f0a202;
  }
  /* alle kleuren voor dit vlak: #F1D302  #C1292E  #235789  #F0A202 */
  .figuur3 {
    background-color: #b3001b;
  }
  .figuur3 > div:nth-child(1) {
    background-color: #b3001b;
  }
  .figuur3 > div:nth-child(2) {
    background-color: #f4e04d;
  }
  .figuur3 > div:nth-child(3) {
    background-color: #54f2f2;
  }
  .figuur3 > div:nth-child(4) {
    background-color: #5eb1bf;
  }
  /* alle kleuren voor dit vlak: #B3001B  #F4E04D  #54F2F2  #5EB1BF */
  .figuur4 {
    background-color: #ff715b;
  }
  .figuur4 > div:nth-child(1) {
    background-color: #ff715b;
  }
  .figuur4 > div:nth-child(2) {
    background-color: #30332e;
  }
  .figuur4 > div:nth-child(3) {
    background-color: #62bbc1;
  }
  .figuur4 > div:nth-child(4) {
    background-color: #ec058e;
  }
  /* alle kleuren voor dit vlak: #FF715B  #30332E  #62BBC1  #EC058E */
}

header h1 {
  font-size: 40px;
  font-weight: 900;
  padding-left: 1rem;
}
header {
  position: relative;
}

nav a {
  display: none;
}

.mobiel {
  display: inline;
  position: absolute;
  top: 25%;
  right: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}
.billboard {
  background-color: black;
  padding: 4rem 1.4rem;
}

.billboard h2 {
  color: white;
  font-size: 2.3rem;
  font-weight: 500;
  padding-bottom: 2rem;
}
.billboard p {
  font-size: 1.2rem;
  line-height: 2rem;
  color: white;
}

.overons {
  padding: 4rem 1rem;
}

.watwedoen {
  padding: 4rem 1rem;
}

.hoofding h2 {
  font-size: 2.3rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.hoofding :nth-child(2) {
  font-size: 1.1rem;
}
.hoofding :nth-child(3) {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.sectie1 p,
.sectie2 p,
.sectie3 p,
.sectie4 p {
  line-height: 2rem;
  margin-bottom: 1rem;
}
.sectie1 input,
.sectie2 input,
.sectie3 input {
  background-color: black;
  color: white;
  font-weight: 700;
  padding: 5px 10px;
  margin-bottom: 4rem;
}

.sectie1 h3,
.sectie2 h3,
.sectie3 h3,
.sectie4 h3 {
  font-weight: 900;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.hoofding {
  margin-top: 4rem;
}

.figuur1 {
  background-color: #56e39f;
  height: 250px;
  margin-bottom: 2rem;
}

.sectie2 .figuur2 {
  background-color: #f1d302;
  height: 250px;
  margin-bottom: 2rem;
}

.sectie3 .figuur3 {
  background-color: #b3001b;
  height: 250px;
  margin-bottom: 2rem;
}

.sectie4 .figuur4 {
  background-color: #ff715b;
  height: 250px;
  margin-bottom: 2rem;
}

footer {
  background-color: black;
  height: 200px;
  text-align: center;
  padding: 3rem 4rem;
}

.logo {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

footer p {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 2rem;
  line-height: 2rem;
}
footer ul li {
  display: inline;
}
footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
@media (min-width: 900px) {
  .mobiel {
    display: none;
  }
  nav a {
    display: contents;
    text-decoration: none;
    color: black;
  }

  nav {
    grid-area: nav;
    grid-row: 1;
    width: auto;
    font-size: 3rem;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto 2fr;
    padding: 1em 2rem;
    gap: 10px;
  }
}
